<div class="vw-100 vh-100" id="pending-cont">
    <div id="pending">
        <div id="image-pending">
            <img src="src\assets\icons\014-cancelar.png" alt="PENDING">
        </div>
        <div id="body-pending">
            <h2>PAGO PENDIENTE</h2>
            <p>Tu pago esta pendiente, igualmente tienes tu reserva. Tu numero de reserva es el: {{reserva.id}}</p>
            <button class="btn btn-warning"><i class="bi bi-arrow-left"></i> Volver al Sitio</button>
        </div>
    </div>
</div>