<div><!--
    <label for="lunes">Lunes</label>
    <div class="day" id="lunes" name="lunes">
      <div *ngFor="let div of divsLun" [style.width]="div.width + '%'" [style.height]="div.height" [style.background-color]="div.background"></div>
    </div>
    <br>
    <label for="martes">Martes</label>
    <div class="day" id="martes" name="martes">
      <div *ngFor="let div of divsMar" [style.width]="div.width + '%'" [style.height]="div.height" [style.background-color]="div.background"></div>
    </div>
    <br>
    <label for="miercoles">Miercoles</label>
    <div class="day" id="miercoles" name="miercoles">
      <div *ngFor="let div of divsMie" [style.width]="div.width + '%'" [style.height]="div.height" [style.background-color]="div.background"></div>
    </div>
    <br>
    <label for="jueves">Jueves</label>
    <div class="day" id="jueves" name="jueves">
      <div *ngFor="let div of divsJue" [style.width]="div.width + '%'" [style.height]="div.height" [style.background-color]="div.background"></div>
    </div>
    <br>
    <label for="viernes">Viernes</label>
    <div class="day" id="viernes" name="viernes">
      <div *ngFor="let div of divsVie" [style.width]="div.width + '%'" [style.height]="div.height" [style.background-color]="div.background"></div>
    </div>
    <br>
    <label for="sabado">Sábado</label>
    <div class="day" id="sabado" name="sabado">
      <div *ngFor="let div of divsSab" [style.width]="div.width + '%'" [style.height]="div.height" [style.background-color]="div.background"></div>
    </div>
    <br>
    <label for="domingo">Domingo</label>
    <div class="day" id="domingo" name="domingo">
      <div *ngFor="let div of divsDom" [style.width]="div.width + '%'" [style.height]="div.height" [style.background-color]="div.background"></div>
    </div>
    <br>

    <div #contenedor></div>

    <button
  class="btn btn-primary"
  (click)="clickMe()">Click Me</button>-->
</div>
