.datos-tipoTurno input{
    max-width: 75px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
}

.datos-tipoTurno label {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
}

.card-elements .col-1{
    align-self: center;
}
.card-elements .col-5{
    padding: 15px 10px;
}
.card-elements .col-5 button{
    padding: 3px 10px;
}
.card-elements .col-6{
    padding: 15px;
}
.card-elements .col-6 p{
    margin: 0;
}

input:disabled, textarea:disabled{
    border: none;
    color: black;
    background: #0000;
}
input:disabled{
    font-weight: 600;
}
textarea{
    resize: none;
    width: 100%;
}
input{
    text-align: center;
}