<div class="row">

    <div class="col-12">
        <div>
            <h1>NOMBRE DEL CLIENTE</h1>
        </div>
        <div>
            REDES SOCIALES
        </div>
    </div>




    <div class="col-6">
        <!--
            <app-form-reserva></app-form-reserva>
        -->
        <div id="reserva-container" class="h-100">
            <div>
                <h3>Reserva Tu Turno</h3>
            </div>
            <app-registrar-reserva></app-registrar-reserva>
        </div>

    </div>
    <div class="col-6">
        
        
        <div id="ig-feed-container">

            <iframe id="ig-feed" src="https://www.instagram.com/matiasoggeroo/embed/" frameborder="0" scrolling="yes"></iframe>
        </div>
        
        <!--
        <app-login *ngIf="!seRegistro" (buttonClicked)="onButtonClicked()"></app-login>
        <div *ngIf="seRegistro">
            <app-user-dashboard></app-user-dashboard>
        </div>
        -->
    </div>
    
    <div class="col-12">
        <div id="maps">
            <div>
                <h4>¿Donde Encontrarnos?</h4>
            </div>
            <div id="maps-container">
                <iframe class="w-100 h-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3388.1846565749715!2d-62.71798208516098!3d-31.8743953257431!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95cb646ea2c7848d%3A0xb9184554fa5234a0!2sPlaza%20Independecia!5e0!3m2!1ses!2sar!4v1680501379999!5m2!1ses!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <!--<app-comentarios></app-comentarios>-->
    </div>

</div>
<div class="col-12">
    <div class="row m-0">
        <div class="col-4">Lorem ipsum dolor sit amet consec</div>
        <div class="col-4">Lorem ipsum dolor sit amet consec</div>
        <div class="col-4">Lorem ipsum dolor sit amet consec</div>
    </div>
</div>
