<div class="col-md-12">
    <form (ngSubmit)="ngSubmit()">
        <div class="form-group">

            <div class="form-row">
                <ul class="ks-cboxtags">
                    <li *ngFor="let dia of diasSemana">
                        <input class="form-control" type="checkbox" [(ngModel)]="dia.valor" id="{{dia.nombre}}" name="{{dia.nombre}}">
                        <label for="{{dia.nombre}}">{{ dia.nombre }}</label>
                    </li>  
                </ul>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">

                    <label for="desde">Desde</label>
                    <input class="form-control" [(ngModel)]="desde" type="time" id="desde" name="desde">


                </div>
                <div class="form-group col-md-6">
                  
                    <label for="hasta">Hasta</label>
                    <input class="form-control" [(ngModel)]="hasta" type="time" id="hasta" name="hasta">

                </div>
            </div>

            <button class="btn btn-success">Guardar</button>
        </div>
    </form>   
    <div id="horario-vista-previa">
        <label for="calendario">Tu Calendario:</label>
        <div id="calendario" *ngIf="listaHorarios.length>0">
            <div *ngFor="let dia of diasSemana">
                <label>{{dia.nombre}}</label>
                <div *ngFor="let horario of listaHorarios">
                    <div *ngIf="horario.dia==dia.nombre">
                        <p>{{horario.desde}}</p>
                        <p>{{horario.hasta}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="listaHorarios.length==0">Agrega algun horario</div>
    </div>
</div>