<!--
CODIGO DE COUNICACION

MENSAJES PREDETERMINADOS
-MENSAJE BINVENIDA
--¡Hola! Bienvenido al servicio de reservas de Whatsapp de X. Estamos aquí para ayudarte a reservar tus próximas citas con facilidad. Para realizar una nueva reserva, por favor escribe el número "1". Si deseas cancelar una reserva existente, por favor envíanos el número de tu reserva y te ayudaremos a cancelarla. Estamos aquí para brindarte una experiencia de reserva fácil y sin problemas. ¡Gracias por elegir nuestro servicio!

-MENSAJE DE EXITO DE RESERVA
--

-->

<!--
    VINCULAR
    -WPP
    -INSTAGRAM
    -MAPS
    -MERCADOPAGO(SEÑAS)
-->

<!--
    
-->
<div class="conf-main row m-0">

    <div class="col p-0">
        <div class="content-card-conf">
            <div class="card-conf">
                <div class="card-conf-title">
                    <img class="h-64px" src="assets/icons/003-medios-de-comunicacin.png" alt="Redes">
                    <h4>REDES SOCIALES</h4>
                </div>
                <div class="card-conf-body">
                    <p>Instagram <input type="text" name="instagram-link" id="instagram-link"></p>
                    <p>Whatsapp <input type="text" name="" id=""></p>
                    <p>Mail <input type="text" name="" id=""></p>
                    <p>Facebook <input type="text" name="" id=""></p>
                    <p>Twitter <input type="text" name="" id=""></p>
                    <p>YouTube <input type="text" name="" id=""></p>
                    <p>GoogleMaps <input type="text" name="" id=""></p>
                </div>
            </div>
        </div>
        
        <div class="content-card-conf">
            <div class="card-conf">
                <div class="card-conf-title">
                    <img class="h-64px" src="assets/icons/001-dinero.png" alt="Dinero">
                    <h4>SEÑAS</h4>
                </div>
                <div class="card-conf-body">
                    <p>Api1 mercadoPago <input type="text" name="" id=""></p>
                    <p>Api2 mercadoPago <input type="text" name="" id=""></p>
                </div>
            </div>
        </div>
        
        

    </div>

    

    <div class="col p-0">

        <div class="content-card-conf">
            <div class="card-conf">
                <div class="card-conf-title">
                    <img class="h-64px" src="assets/icons/020-mensaje-de-voz.png" alt="Mensajes">
                    <h4>MENSAJES BOT</h4>
                </div>
                <div class="card-conf-body">
                    <textarea name="mensaje-1" id="mensaje-1" cols="30" rows="3"></textarea>
                    <textarea name="mensaje-2" id="mensaje-2" cols="30" rows="3"></textarea>
                    <textarea name="mensaje-3" id="mensaje-3" cols="30" rows="3"></textarea>
                    <textarea name="mensaje-4" id="mensaje-4" cols="30" rows="3"></textarea>
                    <textarea name="mensaje-5" id="mensaje-5" cols="30" rows="3"></textarea>
                    <textarea name="mensaje-6" id="mensaje-6" cols="30" rows="3"></textarea>
                    <!--
                    <textarea name="mensaje-7" id="mensaje-7" cols="30" rows="3"></textarea>
                    <textarea name="mensaje-8" id="mensaje-8" cols="30" rows="3"></textarea>
                    <textarea name="mensaje-9" id="mensaje-9" cols="30" rows="3"></textarea>
                    <textarea name="mensaje-10" id="mensaje-10" cols="30" rows="3"></textarea>
                    -->
                </div>
            </div>
        </div>


        
        <div class="content-card-conf">
            <div class="card-conf">
                <div class="card-conf-title">
                    <img class="h-64px" src="assets/icons/configuraciones.png" alt="Usuario">
                    <h4>CUENTA</h4>
                </div>
                <div class="card-conf-body">
                    <p>Mail Asociado <input type="text" name="" id=""></p>
                    <p>Telefono Personal <input type="text" name="" id=""></p>
                    <p>Telefono Comercial <input type="text" name="" id=""></p>
                    <p>habilitarComentarios <input type="checkbox" name="" id=""></p>
                    <p>vencimiento 22-08 recordar: <input type="checkbox" name="" id=""></p>
                </div>
            </div>
        </div>
    </div>

    
    
</div>
