.semana{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-dia{
    /*background: #fff6;*/
    border: 1px solid;
    margin: 0 0 10px;
    width:200px;
    height:130px;
    /**/
    background: #fff;
    border-radius: .4rem;
    box-shadow: 0px 0px 15px #0003;
}
.card-dia h3{
    background: #222;
    color: #fff;
    border-bottom: 1px solid;
    background: linear-gradient(90deg, rgba(79,79,79,1) 0%, rgba(41,41,41,1) 100%);
}

.agregar-horario .row.m-0{
    border: 1px solid;
    padding: 20px 0 15px;
    border-radius: 1rem;
    background: #fff8;
}
.agregar-horario .row.m-0 .col-4 input{
    height: 30px;
    font-size: 17px;
    border-radius: 0;
}
.agregar-horario .row.m-0 .col-4{
    border-right: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(#0000, #000, #0000);
    background-clip: text;
    -webkit-background-clip: text;
}

.day-chbx-container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 30px 15px;
    justify-content: center;
}

.col-8 .div-btn{
    text-align: end;
    padding-right: 15px;
}